<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("header") %>
    <main>
      <% messages.forEach((message) => { %>
      <div class="card">
        <section>
          <p class="text"><%= message.text %></p>
          <p class="name">
            by <% const user = message.user || "Anonymous" %> <%= user %>
          </p>
          <%- include("added", {message}) %>
        </section>
        <a href="/message/<%= message.id %>">Open</a>
      </div>
      <% }); %>
    </main>
  </body>
</html>
